.bggrisoscuro {
    background-color: rgb(53, 58, 64);
}


.txtverde {
    color: rgb(41,167,68);
}

.bgverde {
    background-color: rgb(41,167,68);
}

.txtjust {
    text-align: justify;
}

.bgceleste {
    background-color: rgb(23,162,183);
}

.bghonolulu {
    background-image: url(images/honolulu.jpg); 
    background-size: cover;
    background-position: center;
    height: 400px;
}

.bgverdeclaro {
    background-color: rgb(150,201,62);
}

.focusBtn:focus {
    background-color: rgb(150,201,62) !important;
}

.bgazul {
    background-color: rgb(29,64,84);
}

.bordeazul {
    border-color: rgb(0,123,255);
}

.bordeverde {
    border-color: rgb(23,162,184);
}

.bordemostaza {
    border-color: rgb(255,193,7);
}

.bgtotal {
    background-color: rgb(204,229,255);
}