.bggrisoscuro {
    background-color: rgb(53, 58, 64);
}


.txtverde {
    color: rgb(41,167,68);
}

.bgverde {
    background-color: rgb(41,167,68);
}

.txtjust {
    text-align: justify;
}

.bgceleste {
    background-color: rgb(23,162,183);
}

.bgverdeclaro {
    background-color: rgb(150,201,62);
}

.bgazul {
    background-color: rgb(29,64,84);
}